.movie-list-container .movies {
    display: grid;

    /* to display images in width of page  */
    grid-template-columns: repeat(2, 100%);

    /* to hide images over the page  */
    overflow: hidden;

    scroll-behavior: smooth;
}

.movie-list-container .movies .movie {
    /* width: 320px; */
    height: 180px;

    background-size: cover;
    background-position: center;
}

.movie-list-container .movies section{
    display: grid;
    position: relative;
    /* to display 5 images then other 5 */
    grid-template-columns: repeat(5, auto);
}

.movie-list-container .movies section .previous {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

.movie-list-container .movies section .next {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.movie-list-container .movies section .previous {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
}
.movie-list-container .movies section .next {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4), transparent);
}

.movie-list-container .movies section .next svg,
.movie-list-container .movies section .previous svg {
    color: white;
    font-size: 48px;
}
