.movie {
    position: relative;
    /* width: 320px; */
    height: 180px;
    margin: 0px 2px;
    transition: transform 200ms ease-in-out, margin 200ms ease-in-out;

    background-size: cover;
    background-position: center;
}

.movie .title {
    position: absolute;
    left: 20px;
    bottom: 60px;
    opacity: 0;
}

.movie:hover {
    cursor: pointer;
    transform: scale(1.2);
    margin: 0px 40px;
}

.movie:hover .title {
    opacity: 1;
}